---
import BaseNavigation from "../components/components/BaseNavigation.astro";
import BaseFooter from "../components/components/BaseFooter.astro";
import BaseHead from "../components/components/BaseHead.astro";
import type { BaseProps } from "../utils/types/props";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";

type Props = BaseProps;

const {
	title,
	description,
	classList,
	pageTitle,
	ogImage,
	metaRobots = "index, follow",
} = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<BaseHead
			ogImage={ogImage}
			title={title}
			description={description}
			metaRobots={metaRobots}
		/>
		<ViewTransitions />
	</head>

	<body class:list={[classList]}>
		<BaseNavigation {pageTitle} />
		<div class="page-background min-h-screen bg-white dark:bg-black" transition:persist>
			<slot />
		</div>
		<BaseFooter />
		{
			import.meta.env.PROD && (
				<script async src="https://cdn.onthe.io/io.js/YyAMWtaLLPUi" />
			)
		}
		<style is:global>
			/* Contrôle des transitions */
			::view-transition-old(*),
			::view-transition-new(*) {
				animation: none;
			}

			/* S'assurer que le fond reste noir en mode sombre pendant la transition */
			.dark::view-transition-old(*),
			.dark::view-transition-new(*) {
				background-color: rgb(0, 0, 0);
			}
		</style>
	</body>
</html>
